<header>
    <a href="{{ path('index') }}" class="title">Ma Bibliothèque</a>
    <nav>
        <a href="{{ path('admin_author_all') }}">Auteurs</a>
        <a href="{{ path('admin_book_all') }}">Livres</a>
    </nav>
</header>