<div class="search-form">
    <form action="{{ path('admin_search_books') }}" method="get" class="get">
        <div class="form-row">
            <div class="col">
                <input type="text" name="title" id="title" placeholder="Titre"
                       value="{% if get is defined %}{{ get.title }}{% endif %}">
            </div>
            <div class="col">
                <input type="text" name="style" id="style" placeholder="Style"
                                    value="{% if get is defined %}{{ get.style }}{% endif %}">
            </div>
            <div class="col">
                <div class="form-check form-check-inline d-flex justify-content-between" >
                    <label for="inStock" class="form-check-label ml-4">En stock ?</label>
                    <input type="checkbox" class="form-check-input mr-4" name="inStock" id="inStock" value="yes"
                            {% if get.stock is defined %}
                        {% if get.stock %}
                            checked
                        {% endif %}
                            {% endif %}>
                </div>
            </div>
            <div class="col">
                <input type="submit" value="Rechercher" class="btn btn-primary rounded-pill">
            </div>
        </div>
    </form>
</div>

