* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #101010;
    color: white;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
}

header a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

th {
    font-weight: bold;
    text-decoration: underline;
}

.book-form {
    width:50%;
    margin: 15px auto 0;
}

table {
    width: 70%;
    margin: 0 auto;
    border-style: solid;
}

tbody tr {
    text-align: center;
}

tbody td {
    padding: 5px;
}

tbody tr:nth-of-type(odd) {
    background-color: lightgrey;
}

.book,
.author {
    padding-top: 15px;
    width: 90%;
    margin: 0 auto;
}

.book table,
.author table,
.books table,
.authors table {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* _book_search.html.twig */
.search-form h2 {
    text-align: center;
    margin-bottom: 15px;
}

.search-form form {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    padding-top: 15px;
}

.search-form .form-row {
    display: flex;
    justify-content: center;
    flex: 1;
}

/* erreur recherche */
.error {
    padding: 200px;
}

.error p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 150px;
}

.new-book {
    display: inline-block;
    padding: 8px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}
