{% extends 'base.html.twig' %}

{% block body %}
    <div class="books">
        <table>
            <thead>
            <th>
                Titre
            </th>
            <th>
                Nombre de pages
            </th>
            <th>
                Style
            </th>
            <th>
                En stock ?
            </th>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>
                        {{ book.title }}
                    </td>
                    <td>
                        {{ book.nbPages }}
                    </td>
                    <td>
                        {{ book.style }}
                    </td>
                    <td>
                        {% if book.inStock %}
                            <span class="disponible">En stock</span>
                        {% else %}
                            <span class="nonDisponible">Non disponible</span>
                        {% endif %}
                    </td>

                    <td>
                        <a class="details" href="{{ path('book', {'id':book.id}) }}">Détails</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block title %}
    Tous les livres
{% endblock %}

