<div class="search-form">
    <form action="{{ path('search_author') }}" method="get" class="get">
        <div class="form-row">
            <div class="col">
                <input type="text" name="nameAndOrFirstName" id="nameAndOrFirstName" placeholder="Nom et/ou Prénom"
                       value="{% if get is defined %}{{ get.nameAndOrFirstName }}{% endif %}">
            </div>
            <div class="col">
                <input type="submit" value="Rechercher" class="btn btn-primary rounded-pill">
            </div>
        </div>
    </form>
</div>

