<header>
    <a href="{{ path('index') }}" class="title">Ma Bibliothèque</a>
    <nav>
        <a href="{{ path('authors') }}">Auteurs</a>
        <a href="{{ path('books') }}">Livres</a>
    </nav>
</header>